/* The code below makes the background of the header black and the font color of the title white. Change this to match what you want for your website. */
header {
    background-color: black;
    color: rgb(141, 33, 33);
    font-size: 30px;
    padding: 10px 16px;
    text-align:center;
}

h1{
    margin-left: 5%;
}
.section{
    margin-left: 5%;
    display:flex;
}

.text{
    margin-left:15%;
    margin-right: 5%;
}



img{
    width: 500px;
    height: 300px;
}
